#jinja2: lstrip_blocks:"True",trim_blocks:"True"
user  {{ nginx_user }};
pid        {{ nginx_pidfile }};
include /etc/nginx/modules-enabled/*.conf;

{% block worker %}
worker_processes  {{ nginx_worker_processes }};
{% endblock %}

error_log  {{ nginx_error_log }};

{% if nginx_extra_conf_options %}
{{ nginx_extra_conf_options }}
{% endif %}

{% block events %}
events {
    worker_connections  {{ nginx_worker_connections }};
    multi_accept {{ nginx_multi_accept }};
}
{% endblock %}

http {
    {% block http_begin %}{% endblock %}

{% block http_basic %}
    include       {{ nginx_mime_file_path }};
    default_type  application/octet-stream;

    server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size }};

    client_max_body_size {{ nginx_client_max_body_size }};

    log_format  main  {{ nginx_log_format|indent(23) }};

    access_log  {{ nginx_access_log }};

    sendfile        {{ nginx_sendfile }};
    tcp_nopush      {{ nginx_tcp_nopush }};
    tcp_nodelay     {{ nginx_tcp_nodelay }};

    keepalive_timeout  {{ nginx_keepalive_timeout }};
    keepalive_requests {{ nginx_keepalive_requests }};

    server_tokens {{ nginx_server_tokens }};
{% if nginx_proxy_cache_path %}
    proxy_cache_path {{ nginx_proxy_cache_path }};
{% endif %}
{% endblock %}

{% if nginx_extra_http_options %}
    {{ nginx_extra_http_options|indent(4, False) }}
{% endif %}


{% block http_includes %}
    include {{ nginx_conf_path }}/*.conf;
{% if nginx_conf_path != nginx_vhost_path %}
    include {{ nginx_vhost_path }}/*;
{% endif %}
{% endblock %}

    {% block http_end %}{% endblock %}
}

{% if nginx_tls_stream %}
stream {
    {% block stream_begin %}{% endblock %}

    map $ssl_preread_server_name $backend {
        {% for key, value in nginx_vhosts.items() %}
        {% if value.ssl and value.tls_upstream is defined %}
        {{ key }} {{ value.tls_upstream }};
        {% endif %}
        {% endfor %}
    }

    server {
        listen 443;

        proxy_connect_timeout 1s;
        proxy_timeout 60s;

        ssl_preread on;
        {% if nginx_proxy_protocol %}
        proxy_protocol on;
        {% endif %}
        proxy_pass $backend;
    }
    {% block stream_end %}{% endblock %}
}
{% endif %}
